TUSHARE_TOKEN=YOUR_TUSHARE_TOKEN
TUSHARE_HTTP_URL=https://tx.xiaodefa.top/
TUSHARE_MAX_CALLS_PER_MINUTE=90
TUSHARE_CACHE_ROOT=data_cache/tushare

$env:TUSHARE_TOKEN='205f9fe2b0bd7539ed3909612be9e65f22285c5224617b868c901839'